.product-details-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.product-details-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.product-details-list {
  list-style-type: none;
  padding: 0;
}

.product-details-list li {
  font-size: 16px;
  line-height: 1.6;
  margin: 10px 0;
}

.product-details-list li strong {
  color: #555;
}


@media (max-width: 768px) {
  .product-details-container {
    padding: 15px;
  }
  .button-container {
    flex-direction: column;
    gap: 10px;
  }
  .back-btn,
  .edit-btn,
  .delete-btn {
    width: 100%;
  }
}
