<div class="product-editor-container">
  <h2>Edit Product</h2>
  <form [formGroup]="productForm" (ngSubmit)="save()" class="product-editor-form">

    <label for="name">Name:</label>
    <input id="name" formControlName="name" />
    <small *ngIf="productForm.get('name')?.touched && productForm.get('name')?.hasError('required')" class="error-msg">Name is required</small>

    <label for="description">Description:</label>
    <textarea id="description" formControlName="description"></textarea>

    <label for="cost">Cost:</label>
    <input id="cost" type="number" formControlName="cost" step="0.01" min="0"/>
    <small *ngIf="productForm.get('cost')?.touched && productForm.get('cost')?.hasError('required')" class="error-msg">Cost is required</small>
    <small *ngIf="productForm.get('cost')?.touched && productForm.get('cost')?.hasError('negative')" class="error-msg">Cost must be a posite number</small>

    <div formGroupName="profile">
      <label for="type">Type:</label>
      <select id="type" formControlName="type">
        <option value="furniture">Furniture</option>
        <option value="equipment">Equipment</option>
        <option value="stationary">Stationary</option>
        <option value="part">Part</option>
      </select>

      <label for="available">
        <input id="available" type="checkbox" formControlName="available" /> Available
      </label>

      <label for="backlog">Backlog:</label>
      <input id="backlog" type="number" formControlName="backlog" min="0"/>
      <small *ngIf="productForm.get('profile.backlog')?.touched && productForm.get('profile.backlog')?.hasError('negative')" class="error-msg">Backlog must be a posite number</small>

      <label>Custom Properties:</label>
      <app-custom-properties-editor
        [customProperties]="productForm.get('profile.customProperties')?.value"
        (propertiesChange)="updateCustomProperties($event)"
      ></app-custom-properties-editor>
    </div>

    <div class="button-container">
      <button class="back-btn" (click)="goBack()">Back</button>
      <button class="save-btn" type="submit">Save</button>
    </div>
  </form>
</div>
