<div class="product-list-container">
  <div class="header">
    <h2 class="title">Product List</h2>
    <button class="add-btn" (click)="addProduct()">Add Product</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>Index</th>
        <th>SKU</th>
        <th>Name</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ product.sku }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.cost | currency }}</td>
        <td>
          <button class="details-btn" (click)="viewDetails(product.id)">Details</button>
          <button class="edit-btn" (click)="editProduct(product.id)">Edit</button>
          <button class="delete-btn" (click)="confirmDelete(product.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-confirmation-alert></app-confirmation-alert>
</div>
